{% extends 'base.html.twig' %}

{% block title 'Test' %}

{% block body %}
    <div class="fixed-plugin">
        colordfd
    </div>
    <div class="row h-25">
        <div class="col">Salutation</div>
        <div class="col">Salutation</div>
        <div class="col">Salutation</div>
    </div>
    <div class="row">
        <div class="col">Salutation</div>
        <div class="col">Salutation</div>
        <div class="col">Salutation</div>
    </div>
    <div class="row">
        <div class="col">Salutation</div>
        <div class="col">Salutation</div>
        <div class="col">Salutation</div>
    </div>
    <div style="display: block; position: fixed; bottom: 0; right: 0; padding: 20px; margin-bottom: 30px;">
        <s class="btn btn-secondary" href="">Debut</s>
    </div>

{% endblock %}
